        body{
            background: black;
        }

        .container{
            border: 10px solid white;
            border-radius: 120px;
            width: 200px;
            height: 200px;
            margin-top: 100px;
            margin-left: 700px;
            background-color: #FC46AA;
        }
        .border{
            border: 10px solid white;
            border-radius: 120px;
            width: 200px;
            height: 200px;
            margin-top: 200px;
            margin-left: -450px;
            background-color: #FA8607;
        }

        .weather{
            color: #fff;
            border: 10px solid white;
            border-radius: 50px;
            width: 400px;
            height: 450px;
            margin-top: -400px;
            margin-left: -300px;
            background: rgba(232, 0, 255, 0.11);
            backdrop-filter: blur(40px); 
        }
        .icon{
            font-size: 30px;
            margin-top: -55px;
            margin-left: 20px;
        }
        #inputcity{
            margin-top: 30px;
            margin-left: 30px;
            width: 200px;
            height: 30px;
            border-radius: 10px;
        }
        #search{
            color: #fff;
            width: 100px;
            height: 40px;
            border-radius: 10px;
            background-color: skyblue;
            cursor: pointer;
        }
        .weatherdata{
            margin-left: 100px;
        }
